@{
    this.Script.Require("Magelia.BasketCount");
}
<div class="mag-basketCount" 
     data-config='
         {
            "getBasketCountUrl":"@Url.Action("BasketCount", new { controller = "Basket", area = "Magelia.WebStore", basketCountPartId = this.Model.BasketCountPartId })"
         }
    '
>
    <p>&nbsp;</p>
</div>
